<br><%= current_year %><br>
<p>
  <%= link_to 'TestGuru - Сайт для создания и прохождения тестов.', root_path %><br>
  Автор - Шевчук Дмитрий<br>
  <a href=<%= github_url("Dmitry173", "Rails1")%>><%= github_url("Dmitry173", "Rails1")%></a><br>
</p><br>
<p>
  <a href="https://thinknetica.com" target="_blank" rel="nofollow">Учебнный проект в онлайн-школе Thinknetica</a>
</p>
