<div>
  <p><%= current_year %></p>
  <p>Студент онлайн школы <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank', rel: 'nofollow'  %> Шевчук Дмитрий</p>
  <p><%= github_url("Dmitry173", "Rails1") %> данного проекта</p>
</div>
